body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 200%;
}
h1{
  font-size:5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Great Vibes', cursive;
  font-weight: lighter;
  color:#66BFBF
}
h2{
  font-size:2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color:#66BFBF;
  padding-bottom:15px;

}
h3{
    font-size:1.4rem;
    font-family: 'Montserrat', sans-serif;
    color:#11999E

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#Eaf6f6;
  border-width:10px;
  width:6%;
  margin:100px auto;

}
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin:10px 20px;
  text-decoration:none;

}
a:hover{
  color:#cbf1f5;
}

.top-container{
  background-color: #cbf1f5;
  position: relative;
  padding-top:200px;
}
.middle-container{
  margin:100px 0 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width:50%;
  text-align:left;

}
.top-cloud{
  position:absolute;
  left:20px;
  top:300px;
}
.bottom-cloud{
  position:absolute;
  right:1px;
  bottom:450px;

}
.copyright{
  color: #cbf1f5;
  font-size:0.75rem;
  padding: 20px 0;
}
.photo-img{
  border-radius: 100%;
}
.code-img{
  width:25%;
  float:left;
  margin-right: 30px;
}
.eating-img{
  width:25%;
  float:right;
  margin-left: 30px;

}
p{
  font-size:1.4rem;
  line-height: 2;
}
.butn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
